[Unit]
Description=A Spring Boot application
After=syslog.target

[Service]
User=ec2-user
ExecStart=/usr/bin/java -jar -Dspring.config.location=/home/ec2-user/application.properties /home/ec2-user/webapp-0.0.1-SNAPSHOT.jar
SuccessExitStatus=143
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target